/* .table {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  margin: 20px 10px;
}
.table th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #efefef;
}
.table td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
} */
/*  */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* background */
.wholePage {
  background: linear-gradient(90deg, rgba(72, 137, 147, 0.4), #2857c496 87%);
  /* height: 150vh; */
  overflow: hidden;

  height: 150vh;
  transform: translate3d(0, 0, 0);
  font-family: "Pretendard-Regular";
  cursor: default;
  padding: 2rem 1rem;
  padding-left: 2rem;
}
.wholePage:after {
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.inner {
  justify-content: start;
  display: flex;
}
.leftSideBox {
  width: 70%;
}
.dangerInfoBox {
  width: 100%;
}
.teamStudentBox {
  width: 100%;
  height: 410px;
  position: relative;
}
.rightSideBox {
  width: 100%;
  padding-left: 2rem;
}
.boxTitle {
  display: flex;
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 1rem 3rem;
  color: rgba(0, 0, 0, 0.701);
}
.boxTitle > span {
  margin-left: 1%;
  margin-top: 0.3%;
  color: rgba(255, 99, 71, 0.678);
}
.boxTitle > span:hover {
  cursor: pointer;
  scale: 1.05;
  color: rgb(255, 99, 71);
}

/* dangerList */
.dangerListBox {
  text-align: start;
  height: 20rem;
  margin: 1rem;
  overflow-y: auto;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.5);
  border: solid 2px rgba(255, 255, 255, 0.5);
}
.dangerListBox::-webkit-scrollbar {
  background: transparent;
}

.dangerListBox::-webkit-scrollbar-thumb {
  background: rgba(121, 121, 121, 0.2);
  height: 10%;
  border-radius: 0.5rem;
}
.dangerListLine {
  margin-top: 0.5rem;
}
/* teamStudentList */
.teamStudentList {
  position: relative;
  text-align: start;
  width: 80%;
  height: 17.5rem;
  margin: 1rem 2rem 3rem 2rem;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.5);
  border: solid 3px #d5d5d52d;
  /* box-shadow: 0 0 5px #fff, -5px 0 10px #3397f456,
    5px 0 10px rgba(0, 255, 255, 0.526), inset 0 0 50px #fff,
    inset 50px 0 10px #3397f456, inset -50px 0 10px rgba(0, 255, 255, 0.526),
    inset 50px 0 75px #3397f456, inset -50px 0 75px rgba(0, 255, 255, 0.526); */
  box-shadow: 0rem 0.75rem 3rem 0rem rgba(0, 0, 0, 0.6);
}
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(121, 121, 121, 0.2);
  height: 10%;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
.studentListItem {
  margin-top: 0.99rem;
  width: 100%;
  height: 3.5rem;
  border: solid 2.2px rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}
.studentListItemFalse {
  margin-top: 1rem;
  width: 100%;
  height: 3.5rem;
  border: solid 2px rgba(0, 0, 0, 0.167);
  color: #505a66;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.studentListItemFalse:hover {
  border: solid 2px rgba(0, 0, 0, 0.6);
}
.studentListInner {
  width: 100%;
  padding: 0rem 1rem;
}
.studentListCheckBox {
  display: none;
}
.studentName {
  margin-left: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

/* dropdown */
.dropbtn {
  background-color: #3396f4;
  color: white;
  padding: 10px 8px 5px 10px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 45%;
  width: 2.75rem;
  height: 2.75rem;
}
.dropdown {
  position: absolute;
  display: inline-block;
  right: 15%;
  bottom: 4rem;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: transparent;
  border: none;
  bottom: 2.5rem;
  min-width: 1rem;
  z-index: 1;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdownItem {
  border: none;
  border-radius: 45%;
  background-color: #3396f4;
  width: 2.75rem;
  height: 2.75rem;
  margin: 0.4rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.sendBtn {
  border: none;
  background: none;
  color: white;
  margin-left: 0.2rem;
  transition: 0.3s;
}
.falseSendBtn {
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.503);
  margin-left: 0.2rem;
  transition: 0.3s;
}
.sendBtn:hover {
  scale: 1.2;
  cursor: pointer;
}
.notChecked {
  color: white;
  transition: 0.3s;
}
.notChecked:hover {
  scale: 1.2;
  cursor: pointer;
}
.checked {
  color: #dc143c;
  transition: 0.3s;
}
.checked:hover {
  scale: 1.2;
  cursor: pointer;
}
.dropdown:hover .dropdownContent {
  display: block;
}
.dropdown:hover .dropdownItem:nth-child(odd) {
  animation: fadeInUp1 1s;
}
.dropdown:hover .dropdownItem:nth-child(even) {
  animation: fadeInUp2 1s;
}
.dropdown:hover .dropbtn {
  background-color: #acd282;
}
@keyframes fadeInUp1 {
  0% {
    opacity: 0;
    transform: translate3d(0, 80%, 0);
  }
  80% {
    opacity: 1;
    transform: translate3d(0, -35%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  80% {
    opacity: 1;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
/* searchBox */
.searchBox {
  margin: 1rem 2rem 3rem 2rem;
  width: 86%;
  display: flex;
  justify-content: center;
  /* min-width: 850px; */
  /* padding: 1rem 3rem; */
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0rem 0.75rem 3rem 0rem rgba(0, 0, 0, 0.6);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: relative;
  height: 46rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.searchBoxBefore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  transition: 0.5s;
  color: #f0f0f0;
}

@keyframes pulsate {
  50% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 10px 0 30px #3396f4,
      -10px 0 30px #0ff, inset 0 0 50px rgba(255, 255, 255, 0.5),
      inset -50px 0 30px #3396f4, inset 50px 0 30px #0ff,
      inset -50px 0 100px #3396f4, inset 50px 0 100px #0ff;
  }
}
.searchBoxBefore:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #fff, -20px 0 80px #3397f475,
    20px 0 80px rgba(0, 255, 255, 0.526), inset 0 0 50px #fff,
    inset 50px 0 80px #3397f475, inset -50px 0 80px rgba(0, 255, 255, 0.526),
    inset 50px 0 300px #3397f475, inset -50px 0 300px rgba(0, 255, 255, 0.526);
}
.searchBtnBefore {
  width: 10rem;
  height: 10rem;
}
.searchBtnBefore > span {
  font-size: 10rem;
  font-weight: 900;
}
.searchBoxAfter {
  width: 85%;
  height: 100%;
  padding: 3rem 3rem;
}
.searchEnzineBox {
  width: 90%;
  height: 3rem;
  margin-left: 2%;
  margin-bottom: 1.5rem;
}
.searchEnzineBox > form {
  width: 100%;
  position: relative;
}
.searchEnzineInput {
  margin: 0.5rem 0;
  height: 2.5rem;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0 1rem;
  border: solid 2px rgba(0, 0, 0, 0.167);
  outline: none;
  background: rgba(255, 255, 255, 0.5);
}
.searchEnzineInput:focus {
  background: rgba(255, 255, 255, 0.892);
}
.searchEnzineBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -2rem;
  top: 0.8rem;
  border: none;
  background: none;
  color: rgb(0, 0, 0);
  margin-left: 0.2rem;
}
.searchEnzineBtn > span {
  font-size: 2rem;
  font-weight: 600;
}
.searchEnzineBtn:hover {
  cursor: pointer;
}
/* .searchBtn {
  height: 100px;
  width: 100px;
  box-shadow: -6px -6px 8px 0 rgba(127, 170, 55, 0.5) inset,
    7px 7px 12px 0 rgba(220, 235, 194, 0.4) inset,
    6px 6px 14px 0 rgba(127, 170, 55, 0.5),
    -3px -3px 12px 0 rgba(220, 235, 194, 0.4);
  transition: box-shadow 0.4s ease-in-out;
}
.searchBtn:hover {
  box-shadow: 6px 6px 8px 0 rgba(127, 170, 55, 0.5) inset,
    -7px -7px 12px 0 rgba(220, 235, 194, 0.4) inset,
    -6px -6px 14px 0 rgba(127, 170, 55, 0.5),
    3px 3px 12px 0 rgba(220, 235, 194, 0.4);
  cursor: pointer;
} */
.noResult {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.studentTableBox {
  width: 103%;
  height: 34rem;
  border: solid 2px rgba(0, 0, 0, 0.167);
  padding-top: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  margin-left: -1rem;
}
.studentTable {
  width: 100%;
}
.studentTable > thead {
  height: 2rem;
}
.studentTable tr th {
  border-bottom: 1px solid #ccc;
}
.studentTable tr {
  border-bottom: 1px solid #ccc;
}
.tableBodyRow {
  border: solid -1px rgba(0, 0, 0, 0.167);
}
.studentTable > tbody > tr > td {
  text-align: center;
  line-height: 2.5rem;
}
.studentTable > tbody > tr > td > button {
  border: none;
  background: none;
  width: 0.5rem;
  margin-left: 1rem;
  padding: 0;
}
.studentTable > tbody > tr > td > button > span {
  font-size: 1rem;
  font-weight: 600;
}
.studentTable > tbody > tr > td > button:nth-child(1) > span {
  color: #3397f4b9;
}
.studentTable > tbody > tr > td > button:nth-child(2) > span {
  color: #dc143c;
}
.studentTable > tbody > tr > td > button:hover {
  cursor: pointer;
}

.studentTable > thead > tr > th:nth-child(11) {
  width: 3rem;
}
.studentTable > tbody > tr > td:nth-child(11) {
  display: flex;
  width: 3rem;
  height: 2rem;
  align-items: center;
  padding-top: 0.5rem;
}
.studentTable > thead > tr > th:nth-child(3) {
  display: table-cell;
}
.studentTable > tbody > tr > td:nth-child(3) {
  display: table-cell;
}

.paigBox {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}
.paigBox button {
  border: none;
  background: none;
  width: 1.5rem;
  margin: 0;
  padding: 0;
}
.notOnPage:hover {
  cursor: pointer;
}
.notOnPage > span {
  color: #505a66;
}
.onPage > span {
  font-weight: bold;
}

/* excel */
.excelBox {
  position: absolute;
  bottom: 8.5%;
  right: 7.5%;
  display: flex;
  justify-content: end;
}
.excelBox button {
  border: none;
  background: none;
  color: #d29f82;
  transition: 0.3s;
}
.excelBox button:hover {
  scale: 1.05;
  cursor: pointer;
}
.excelBox button > span {
  font-size: 2rem;
}

@media only screen and (max-width: 1120px) {
  .wholePage {
    height: 300vh;
  }
  .inner {
    justify-content: start;
    display: flex;
    flex-direction: column;
  }
  .leftSideBox {
    width: 100%;
    display: flex;
  }
  .rightSideBox {
    padding: 0;
  }
  .dangerInfoBox {
    width: 50%;
  }
  .teamStudentBox {
    width: 50%;
    height: 430px;
  }
  .searchBox {
    width: 93%;
  }
  .studentTable > thead > tr > th:nth-child(3) {
    display: none;
  }
  .studentTable > tbody > tr > td:nth-child(3) {
    display: none;
  }
}

@media only screen and (max-width: 880px) {
  .wholePage {
    height: 380vh;
  }
  .inner {
    justify-content: start;
    display: flex;
  }
  .leftSideBox {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .right {
    padding: 0;
  }
  .dangerInfoBox {
    width: 100%;
  }
  .teamStudentBox {
    width: 100%;
  }
  .searchBox {
    width: 86%;
  }
  .studentTable > thead > tr > th:nth-child(6) {
    display: none;
  }
  .studentTable > tbody > tr > td:nth-child(6) {
    display: none;
  }
  .studentTable > thead > tr > th:nth-child(4) {
    display: none;
  }
  .studentTable > tbody > tr > td:nth-child(4) {
    display: none;
  }
}
